
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    margin: 20px auto;
    width: 1000px;
}

.img__frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 400px;
    background-size: 500px;
   /*  background-image: url("../img/aggteleki.jpg");  */   
}

.frame__top {
    flex: 10%;
}

.frame__middle {
    flex: 80%;
}

.frame__bottom {
    flex: 10%;
}